/* 清除默认边距
    一般不要这么做，用的时候要写明选择的标签 */
*{
    padding: 0;
    margin: 0;
}

form{
    width: 600px;
    /* margin:上下边距 左右边距 */
    margin: 20px auto;
}

form > fieldset {
    padding: 10px;
}

form > fieldset > input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    /* 先清除border样式，然后再定义新的边框样式 */
    border: none;
    border:1px solid #ccc;
    /* 定义输入框圆角角度 */
    border-radius: 4px;
    font-size: 16px;
    padding-left: 5px;
    /* width = 内容+padding */
    box-sizing: border-box;
}

